@import url("general.css");

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

#main header h1 {
  font-size: min(5vw, 24px);
  font-weight: bold;
  text-shadow: 0 0 2px #000;
  margin-bottom: 30px;
  line-height: 1;
  white-space: nowrap;
}

.welcomeText {
  font-size: min(3.4vw, 16px);
  line-height: 1.2;
}

.welcomeText > p {
  margin-bottom: 10px;
  text-shadow: 0 0 2px #000;
}

.linksContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  overflow: hidden;
}

.adsBtn {
  display: block;
  width: fit-content;
  padding: 0.7em 1em;
  font-size: min(3.4vw, 14px);
  line-height: 1;
  font-weight: bold;
  white-space: nowrap;
  background-color: var(--btn-color);
  overflow: hidden;
  color: var(--main-text-color);
  text-decoration: none;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 50px;
}

/* ------- Wesites HTML -------- */

#main.websites {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  background: none;
  padding: 0;
}

.returnHome {
  margin: 0;
}

.websitesCont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--generalPadding);
}

.websitesCont .links {
  display: block;
  text-decoration: none;
  color: var(--main-text-color);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.links:hover {
  box-shadow: 0px 1px 0px #c0c0c0;
}

.links h2 {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 6px;
  color: #99c3ff;
}

.links p {
  color: var(--main-text-color);
  line-height: 1.2;
  font-size: 14px;
}

.tags {
  margin-top: 10px;
}

.tags ul {
  display: flex;
  list-style-type: none;
}

.tags li {
  display: inline-block;
  font-size: 12px;
  color: #bdc1c6;;
}

.tags li::after {
  content: "\2022";
  display: inline-block;
  font-size: smaller;
  margin: 0 5px;
}

.tags li:last-child::after {
  content: '';
  display: none;
}