@charset "UTF-8";
:root {
  --border-width: 1px;
  --border-color: #c1c1c1;
}

/* ------------------------------------------------------------ */

/* -----> RESET.CSS INCLUDED HERE TO REDUCE SERVER CALLS <----- */

/* ------------------------------------------------------------ */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  zoom: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --------------------- Reset CSS End -------------------- */

#container {
  width: 320px;
  height: 50px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  visibility: hidden;
}

.cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#background {
  background-color: #f6eee4;
}

#logo {
  background-image: url("images/logo.png");
}

#copy1 {
  background-image: url("images/copy1.png");
  transform: scale(1.1);
  transform-origin: 56px 50%;
}

#copy2 {
  background-image: url("images/copy2.png");
  transform: scale(0);
  transform-origin: 56px 50%;
}

#copy3 {
  background-image: url("images/copy3.png");
  transform: scale(1.1);
  transform-origin: 56px 50%;
}

#copy4 {
  background-image: url("images/copy4.png");
}

#cta {
  background-image: url("images/cta.png");
}

#imgCont {
  width: 211px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

#img {
  display: block;
  height: 100%;
  transform: scale(2);
  transform-origin: 80% 0%;
}

#exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  pointer-events: all;
  z-index: 20;
}

/* -------------------- */

/* -----> BORDER <----- */

/* -------------------- */

.borderTop {
  width: 100%;
  height: var(--border-width);
  left: 0px;
  top: 0px;
}

.borderLeft {
  width: var(--border-width);
  height: 100%;
  left: 0px;
  top: 0px;
}

.borderRight {
  width: var(--border-width);
  height: 100%;
  right: 0px;
  top: 0px;
}

.borderBottom {
  width: 100%;
  height: var(--border-width);
  left: 0px;
  bottom: 0px;
}

.border {
  position: absolute;
  z-index: 99999;
  background-color: var(--border-color);
  pointer-events: none;
}