@import url("../general.css");

#main {
  --generalPadding: 20px;

  width: 100%;
  min-height: 100vh;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
}

header {
  padding: var(--generalPadding);
  /* box-shadow: 0 2px 2px #c1c1c1; */
  background-color: #272727;
}

.returnHome {
  display: block;
  width: fit-content;
  padding: 0.7em 1em;
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  white-space: nowrap;
  background-color: var(--btn-color);
  margin-top: 20px;
  overflow: hidden;
  color: var(--main-text-color);
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
}

.returnHome i {
  font-size: 16px;
  line-height: 1;
}

header h1 {
  font-size: 25px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 20px;
}

.copyright {
  font-size: 16px;
  margin-bottom: 15px;
}

.adblock {
  font-size: 14px;
  margin-bottom: 15px;
  font-style: italic;
}

.adsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
}

.sidebar {
  width: fit-content;
  min-width: fit-content;
  height: fit-content;
  background-color: #272727;
  border-radius: 10px;
  overflow: hidden;
}

.adSizes>li {
  font-size: 14px;
  line-height: 1;
  padding: 10px 25px;
  white-space: nowrap;
  cursor: pointer;
  pointer-events: all;
}

.adSizes>li:hover,
.active {
  background-color: var(--btn-color);
}

.adCanvas {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 0 20px;
}

.adAspect-vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px 15px;
}

.adAspect-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px 15px;
}

.playBtn {
  display: block;
  width: fit-content;
  background-color: var(--btn-color);
  line-height: 1;
  font-size: 13px;
  padding: 0.5em 1.5em;
  border: 0;
  border-radius: 50px;
  font-weight: 500;
  color: var(--main-text-color);
  cursor: pointer;
  pointer-events: all;
}

.adAspect-vertical .playBtn {
  margin: 0 auto;
  margin-top: 10px;
}

.adAspect-horizontal .playBtn {
  margin: 0 auto;
  margin-top: 10px;
}

.ad {
  position: relative;
}

.ad img {
  display: block;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#size120x600 .ad {
  width: 120px;
}

.sectionHidden {
  display: none;
}

.sectionShow {
  animation: 0.4s linear 0s show;
}

iframe {
  overflow: hidden;
}

/* Animations */

@keyframes show {
  0% {
    display: flex;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

/* ----------------- */

.responsiveMsg {
  display: none;
  text-align: center;
  color: var(--main-text-color);
  line-height: 1.1;
  font-size: 14px;
}

@media screen and (max-width: 1100px) {
  #size970x90 .ad {
    display: none !important;
  }

  #size970x90 .responsiveMsg {
    display: block;
  }
}

@media screen and (max-width: 850px) {
  #size728x90 .ad {
    display: none !important;
  }

  #size728x90 .responsiveMsg {
    display: block;
  }
}

@media screen and (max-width: 445px) {
  #size320x50 .ad {
    display: none !important;
  }

  #size320x50 .responsiveMsg {
    display: block;
  }

  #size300x600 .ad {
    display: none !important;
  }

  #size300x600 .responsiveMsg {
    display: block;
  }

  #size300x250 .ad {
    display: none !important;
  }

  #size300x250 .responsiveMsg {
    display: block;
  }
}

@media screen and (max-width: 350px) {
  #size200x625 .ad {
    display: none !important;
  }

  #size200x625 .responsiveMsg {
    display: block;
  }
}

@media screen and (max-width: 305px) {
  #size160x600 .ad {
    display: none !important;
  }

  #size160x600 .responsiveMsg {
    display: block;
  }

  #size120x600 .ad {
    display: none !important;
  }

  #size120x600 .responsiveMsg {
    display: block;
  }
}